 @import "tailwindcss";
 @import "tw-animate-css";

 @custom-variant dark (&:is(.dark *));

 :root {
  --sidebar: hsl(0 0% 98%);
  --sidebar-foreground: hsl(240 5.3% 26.1%);
  --sidebar-primary: hsl(240 5.9% 10%);
  --sidebar-primary-foreground: hsl(0 0% 98%);
  --sidebar-accent: hsl(240 4.8% 95.9%);
  --sidebar-accent-foreground: hsl(240 5.9% 10%);
  --sidebar-border: hsl(220 13% 91%);
  --sidebar-ring: hsl(217.2 91.2% 59.8%);
}

 .dark {
  --sidebar: hsl(240 5.9% 10%);
  --sidebar-foreground: hsl(240 4.8% 95.9%);
  --sidebar-primary: hsl(224.3 76.3% 48%);
  --sidebar-primary-foreground: hsl(0 0% 100%);
  --sidebar-accent: hsl(240 3.7% 15.9%);
  --sidebar-accent-foreground: hsl(240 4.8% 95.9%);
  --sidebar-border: hsl(240 3.7% 15.9%);
  --sidebar-ring: hsl(217.2 91.2% 59.8%);
}

 @theme inline {
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-gray-950: #202020;
  --color-gray-910: #3F3F44;
  --color-gray-350: #C4C4C4;
  --color-gray-40: #F6F6F6;
  --color-gray-30: #F5F9F2;
  --color-gray-10: #ECEAEE;
  --color-gray-9: #E7E7E7;
  --color-gray-5: #F7F7F7B2;
  --color-gray-5: #FCFCFC;
  --color-gray-20: #84818A;
  --color-gray-16: #F1F1F5;
  --color-gray-15: #8C94A1;
  --color-golden-500: #FFAB2A;
  --color-golden-450: #FACC15;
  --color-zinc-750: #47464A;
  --color-green-610: #28A745;
  --color-green-350: #99C183;
  --color-green-40: #CCEABB00;
  --color-green-20: #B5E49A;
  --color-green-35: #CCEABB26;
  --color-peach-300: #FDCB9E;
  --color-orange-250: #EAB585;
  --color-orange-275: #EDB98B;
  --color-green-10: #99C183;
  --color-green-5: #F2FAEE;
  --color-green-450: #82C43C;
  --color-transparent-70: #3F3F44B2;
  --color-transparent-30: #3F3F444D;
  --color-blue-90: #DFE6FB;
  --color-sand-350: #C4C4C4;
  --color-black-10: #171725;
  --color-sand-150: #92929D;
  --color-sky-350: #00C4F4;
  --color-sky-450: #1DA1F2;
  --color-indigo-850: #3C5A99;
  --color-red-450: #FC5A5A;
  --color-slate-650: #44444F;
  --color-slate-350: #B5B5BE;
  --color-zinc-550: #696974;
  --color-neutral-450: #979797;
  --color-gray-3: #E5E7EB;
  --color-gray-2: #6B7280;
  --color-gray-11: #374151;
  --color-blue-510: #4A90E2;
  --color-gray-4: #4B5563;
  --color-gray-6: #DCDDDF;
  --color-gray-7: #989CA0;
  --color-indigo-560: #6670FF;
  --color-lightgray-10: #E3E3E3;
  --color-yellow-450: #FF9900;
}

 
